body {
  color: white;
  font-family: monospace;
  outline-width: 0.2px;
  outline-color:#1d257d;
  background: #011033;
}

.done {
    text-decoration: line-through;
    color: gray;
}

#lhs {
  float: left;
  width: 69.875%;
  background-color: #1d257d;
  height: 100vh;
}

#divider {
  float: left;
  width: 0.25%;
  height: 100%;
  background-color: black;
  height: 100vh;
}

#rhs {
  float: right;
  width: 29.875%;
  background-color: #0C023E;
  height: 100vh;
  text-align: center;
}

.input {
  background-color: transparent;
  border: 2px solid #3df2e0;
  outline: none;
  color: white;
  margin-bottom: 10px;
}

.list {
  position: relative;
  text-align: start;
  font-size: 15px;
  margin-bottom: 10px;
}

#todo ol {
  display: flex;
  flex-direction: column;
}

.button {
  float: right;
  display: flex;
  justify-content: center;
}

.span {
  float: left;
  width: 80%;
  word-wrap: break-word;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}

#calendar {
	width: 125vh;
	margin: 10px auto;
  height: 150vh
}

#calendar table {
	border-collapse: collapse;
	width: 100%;
}

#calendar th, #calendar td {
	padding: 25px;
	text-align: center;
}

#calendar th {
	background-color: transparent;
}

#calendar td.today {
	background-color: #3df2e0;
  color: black;
  font: bolder;
}

#calendar td.event {
	background-color: #aaf;
}

#eventForm {
	display: none;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.calendarButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

#back {
  float: left;
}

#forward {
  float: right;
}
